<template>
  <div class="container admin-cont">
    <div class="row">
      <div class="col-md-5">
        <h4 class="login-title">Admin Paneli</h4>
        <ui-menu @select="go_to_label" has-icons has-secondary-text :options="$store.getters.menu_options" raised></ui-menu>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AdminPanel",
  data () {
    return {
      msg: null,
      choice: ''
    }
  },
  methods: {
    go_to_label(event){
      this.$router.push({'name': event.id})
    }
  }
}
</script>

<style scoped>

</style>
