<template>
  <div class="container">
    <div class="my-alert">
      <ui-alert @dismiss="showAlert = false" type="error" v-show="showAlert">
        Hata, Tekrar Deneyiniz.
      </ui-alert>
    </div>
    <ui-modal
      ref="cardNoInfoModal"
      title="Dikkat! Bu uyarıyı okuyunuz."
      remove-close-button
    >
        Toplu Taşıma Aracı Kullanım Belgesi Numarasını Giriniz.
        Kartınızın en altında yer alan rakam, harf ve boşlukları olduğu haliyle yazınız.
      <div slot="footer">
        <ui-button class="turquoise-button btn-block" @click="closeModal('cardNoInfoModal')">Okudum, Anladım</ui-button>
      </div>
    </ui-modal>
    <h3 class="search-form-title">İstek Formu</h3>
    <form name="create-search" @submit.prevent="create_search">
      <div class="row">
        <div class="col-md-4">

          <div class="state-2">
            <label class="form-group-title" for="location">Konum Bilgileri - Değişim Bölgesi</label>
            <hr/>
            <div class="form-group" id="location">
              <ui-select
                has-search
                error="Bu alanı doldurmanız gerekiyor!"
                label="İlçe"
                placeholder="İlçe seçiniz"

                :options="my_towns"

                :invalid="!town"
                v-model="town"
              ></ui-select>

              <ui-select
                has-search
                error="Bu alanı doldurmanız gerekiyor!"
                label="Semt"
                placeholder="Semt seçiniz"

                :options="my_districts[town]"

                :invalid="!district"
                v-model="district"
              ></ui-select>

            </div>
          </div>

          <div class="state-3">
            <label class="form-group-title" for="job">İş Bilgileri</label>
            <hr/>
            <div class="form-group" id="job">

              <br/><label for="inputQuota">Kota</label><br/>
              <p-radio
                required="true"
                type="radio"
                v-model="quota"
                v-for="option in $store.getters.quota_choices"
                v-bind:key="option.text"
                v-bind:value="option.value"
                class="p-default p-curve p-round p-smooth"
                id="inputQuota"
                name="quota"
                color="primary-o">{{option.text}}</p-radio><br/>

            </div>
          </div>

          <div class="state-4">
            <label class="form-group-title" for="contact">Kişisel Bilgiler</label>
            <hr/>
            <div class="form-group" id="contact">
              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="İsim Soyisim"
                placeholder="Mevlana Ayas"

                :invalid="!fullname"
                v-model="fullname"

              ></ui-textbox>

              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Telefon Numarası"
                placeholder="5475337373"
                type="number"

                :invalid="!primary_gsm"
                v-model="primary_gsm"

                :maxlength="10"

              ></ui-textbox>

              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Telefon Numarası (İkincil)"
                placeholder="5475337373"
                type="number"

                :invalid="!secondary_gsm"
                v-model="secondary_gsm"

                :maxlength="10"

              ></ui-textbox>

              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Yaşınız"
                placeholder="22"
                type="number"

                :invalid="!age"
                v-model="age"

              ></ui-textbox>

              <br/><label for="inputIsRetired">Evlilik Durumu</label><br/>
              <p-radio
                required="true"
                type="radio"
                v-model="is_married"
                v-for="option in married_options"
                v-bind:key="option.text"
                v-bind:value="option.value"
                class="p-default p-curve p-round p-smooth"
                id="inputIsMarried"
                name="isMarried"
                color="primary-o">{{option.text}}</p-radio><br/>

            </div>
          </div>

          <div class="state-5">
            <label class="form-group-title" for="work">Çalışma Bilgileri</label>
            <hr/>
            <div class="form-group" id="work">
              <br/><label for="inputIsRetired">Emeklilik Durumu</label><br/>
              <p-radio
                required="true"
                type="radio"
                v-model="is_retired"
                v-for="option in retired_options"
                v-bind:key="option.text"
                v-bind:value="option.value"
                class="p-default p-curve p-round p-smooth"
                id="inputIsRetired"
                name="isRetired"
                color="primary-o">{{option.text}}</p-radio><br/><br/>

              <ui-textbox
                id="card_no_input"
                error="Bu alanı doldurmanız gerekiyor!"
                placeholder="T123****** **************"

                :invalid="!card_no"
                v-model="card_no"

              >Sürücü Kart No
                <ui-icon-button
                  style="margin-bottom: 4px"
                  type="secondary"
                  color="orange"
                  icon="help"
                  v-on:click="openCardNoModal('cardNoInfoModal')"
                ></ui-icon-button>
              </ui-textbox>

              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Çalışılan Taksi Durakları"
                placeholder="Güngören Taksi, Merkez taksi..."

                :invalid="!past_taxi_stop_list"
                v-model="past_taxi_stop_list"

                :multi-line="true"
                :maxlength="1024"

              ></ui-textbox>

              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Referanslarınız"
                placeholder="İsim Soyisim - 533 555 34 34"

                :invalid="!reference"
                v-model="reference"

                :multi-line="true"
                :maxlength="512"

              ></ui-textbox>

              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Kaç yıldır sürücüsünüz?"
                placeholder="10 Yıl"

                :invalid="!year_in_job"
                v-model="year_in_job"

                :multi-line="true"
                :maxlength="30"

              ></ui-textbox>

              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Şu an çalıştığınız yer?"
                placeholder="Merkez Taksi Durağı"

                :invalid="!current_employment"
                v-model="current_employment"

                :multi-line="true"
                :maxlength="255"

              ></ui-textbox>

            </div>
          </div>

          <div class="state-6">
            <label class="form-group-title" for="general">Genel Bilgiler</label>
            <hr/>
            <div class="form-group" id="general">
              <br/><label for="inputBloodGroup">Kan Grubu</label><br/>
              <p-radio
                required="true"
                type="radio"
                v-model="blood_group"
                v-for="option in $store.getters.blood_group_choices"
                v-bind:key="option.text"
                v-bind:value="option.value"
                class="p-default p-curve p-round p-smooth"
                id="inputBloodGroup"
                name="bloodGroup"
                color="primary-o">{{option.text}}</p-radio><br/><br/>

              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Kaç yıldır İstanbuldasınız?"
                placeholder="12"
                type="number"

                :invalid="!year_in_istanbul"
                v-model="year_in_istanbul"

              ></ui-textbox>

            </div>
          </div>
          <button type="submit" class="btn btn-outline-dark btn-block create-button">Oluştur</button>
          <!--<button type="submit" class="btn btn-outline-dark btn-block create-button">İleri</button>-->
          <!--<button type="submit" class="btn btn-outline-dark btn-block create-button">Geri</button>-->
        </div>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    </form>
  </div>
</template>

<script>
  import Api from '../api';
  import towns from '../../static/locations/towns'
  import districts from '../../static/locations/districts'
  import neighborhoods from '../../static/locations/neighborhoods'
  export default {
    name: "CreateJobSearch",
    data () {
      return {
        retired_options: [
          { text: 'Emekliyim', value: true },
          { text: 'Emekli Değilim', value: false }
        ],
        married_options: [
          { text: 'Evliyim', value: true },
          { text: 'Bekarım', value: false }
        ],
        town: '',
        district: '',
        neighborhood: '',
        my_towns: towns['towns'],
        my_districts: districts,
        my_neighborhoods: neighborhoods,
        quota: '',
        primary_gsm: '',
        secondary_gsm: '',
        fullname: '',
        age: '',
        is_retired: '',
        card_no: '',
        past_taxi_stop_list: '',
        reference: '',
        year_in_job: '',
        current_employment: '',
        is_married: '',
        blood_group: '',
        year_in_istanbul: '',
        showAlert: false
      }
    },
    computed: {
      full_location: function () {
        var result = [];
        result.push(this.town);
        result.push(this.district);
        return result.join('-')
      }
    },
    methods: {
      openCardNoModal(ref) {
        this.$refs[ref].open();
      },
      closeModal(ref) {
        this.$refs[ref].close();
      },
      create_search(){
        this.$Progress.start()
        Api.CreateJobSearch({
          'quota': this.quota,
          'primary_gsm': this.primary_gsm, 'secondary_gsm': this.secondary_gsm, 'fullname': this.fullname,
          'is_retired': this.is_retired, 'card_no': this.card_no, 'year_in_istanbul': this.year_in_istanbul,
          'past_taxi_stop_list': this.past_taxi_stop_list, 'reference': this.reference, 'year_in_job': this.year_in_job,
          'current_employment': this.current_employment, 'is_married': this.is_married, 'blood_group': this.blood_group,
          'exchange_location': this.full_location, 'age': this.age

        }).then((response) =>  {

          this.$Progress.finish()
          this.$router.push({'name': 'RetrieveJobSearch', params: { id: response.data.id}})
            // debug
          }).catch( e =>{
            this.$Progress.fail()
            this.showAlert = true
            scroll(0,0)
            //debug
        });
      },
    }
  }
</script>

<style scoped>

</style>
