<template>
  <div class="container">
    <div class="my-alert">
      <ui-alert @dismiss="showAlert = false" type="error" v-show="showAlert">
        Hata, Tekrar Deneyiniz.
      </ui-alert>
    </div>
    <h3 class="search-form-title">İstek Formu</h3>
    <form name="create-search" @submit.prevent="create_search">
      <div class="row">
        <div class="col-md-4">



          <div class="state-2">
            <label class="form-group-title" for="location">Konum Bilgileri - Değişim Bölgesi</label>
            <hr/>
            <div class="form-group" id="location">
              <ui-select
                has-search
                error="Bu alanı doldurmanız gerekiyor!"
                label="İlçe"
                placeholder="İlçe seçiniz"

                :options="my_towns"

                :invalid="!town"
                v-model="town"
              ></ui-select>

              <ui-select
                has-search
                error="Bu alanı doldurmanız gerekiyor!"
                label="Semt"
                placeholder="Semt seçiniz"

                :options="my_districts[town]"

                :invalid="!district"
                v-model="district"
              ></ui-select>

            </div>
          </div>

          <div class="state-3">
            <label class="form-group-title" for="job">İlan Bilgileri</label>
            <hr/>
            <div class="form-group" id="job">

              <br/><label for="inputQuota">Kota</label><br/>
              <p-radio
                required="true"
                type="radio"
                v-model="quota"
                v-for="option in $store.getters.quota_choices"
                v-bind:key="option.text"
                v-bind:value="option.value"
                class="p-default p-curve p-round p-smooth"
                id="inputQuota"
                name="quota"
                color="primary-o">{{option.text}}</p-radio><br/>


              <br/><label for="inputPeriod">Ne kadar süre ile sürücü arıyorsunuz?</label><br/>
              <p-radio
                required="true"
                type="radio"
                v-model="period"
                v-for="option in $store.getters.period_choices"
                v-bind:key="option.text"
                v-bind:value="option.value"
                class="p-default p-curve p-round p-smooth"
                id="inputPeriod"
                name="period"
                color="primary-o">{{option.text}}</p-radio><br/><br/>


              <ui-textbox
                v-if="period==='Periyot'"
                error="Bu alanı doldurmanız gerekiyor!"
                label="Kaç Günlük sürücü istersiniz?"
                placeholder="4"
                type="number"

                :invalid="!duration"
                v-model="duration"

              ></ui-textbox>

              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Talep edilen ücret"
                placeholder="230"
                type="number"

                :invalid="!requested_fee"
                v-model="requested_fee"

              ></ui-textbox>

            </div>
          </div>

          <div class="state-4">
            <label class="form-group-title" for="contact">Kişisel Bilgiler</label>
            <hr/>
            <div class="form-group" id="contact">

              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="İsim Soyisim"
                placeholder="isim soyisim giriniz"

                :invalid="!fullname"
                v-model="fullname"

              ></ui-textbox>

              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Telefon Numarası"
                placeholder="5475337373"
                type="number"

                :invalid="!primary_gsm"
                v-model="primary_gsm"

                :maxlength="10"

              ></ui-textbox>

              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Telefon Numarası (İkincil)"
                placeholder="5475337373"
                type="number"

                :invalid="!secondary_gsm"
                v-model="secondary_gsm"

                :maxlength="10"

              ></ui-textbox>

              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Yaşınız"
                placeholder="22"
                type="number"

                :invalid="!age"
                v-model="age"

              ></ui-textbox>

            </div>
          </div>
          <button type="submit" class="btn btn-outline-dark btn-block create-button">Oluştur</button>
          <!--<button type="submit" class="btn btn-outline-dark btn-block create-button">İleri</button>-->
          <!--<button type="submit" class="btn btn-outline-dark btn-block create-button">Geri</button>-->
        </div>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    </form>
  </div>
</template>

<script>
  import Api from '../api';
  import towns from '../../static/locations/towns'
  import districts from '../../static/locations/districts'
  import neighborhoods from '../../static/locations/neighborhoods'
  export default {
    name: "CreateDriverSearch",
    data () {
      return {
        retired_options: [
          { text: 'Emekliyim', value: true },
          { text: 'Emekli Değilim', value: false }
        ],
        town: '',
        district: '',
        neighborhood: '',
        my_towns: towns['towns'],
        my_districts: districts,
        my_neighborhoods: neighborhoods,
        quota: '',
        primary_gsm: '',
        secondary_gsm: '',
        fullname: '',
        age: '',
        is_retired: false,
        period: '',
        duration: '',
        requested_fee: '',
        showAlert: false
      }
    },
    computed: {
      full_location: function () {
        var result = [];
        result.push(this.town);
        result.push(this.district);
        return result.join('-')
      }
    },
    methods: {
      create_search(){
        this.$Progress.start()
        Api.CreateDriverSearch({
          'quota': this.quota, 'exchange_location': this.full_location,
          'primary_gsm': this.primary_gsm, 'secondary_gsm': this.secondary_gsm,
          'fullname': this.fullname, 'age': this.age, 'is_retired': this.is_retired,
          'period': this.period, 'duration': this.duration, 'requested_fee': this.requested_fee
        }).then((response) =>  {
          this.$Progress.finish()
          this.$router.push({'name': 'RetrieveDriverSearch', params: { id: response.data.id}})
            // debug
          }).catch( e =>{
            this.$Progress.fail()
            this.showAlert = true
            scroll(0,0)
            //debug
        });
      },
    }
  }
</script>

<style scoped>

</style>
