<template>
  <div class="container">
    <div class="my-alert">
      <ui-alert @dismiss="showAlert = false" type="error" v-show="showAlert">
        Hata, Tekrar Deneyiniz.
      </ui-alert>
    </div>
    <div class="search-details">
      <p class="form-group-title"> Listeden Gelen İstek </p>
      <ul class="list-group">
        <li class="list-group-item" style="font-weight: bold">Detaylar</li>
        <li class="list-group-item">{{search_one.representation.slice(2)}}</li>
        <li class="list-group-item" v-if="job">Kart No: {{search_one.card_no}}</li>
        <li class="list-group-item">Telefon No: {{search_one.primary_gsm}}</li>
      </ul><br/>
      <p class="form-group-title" v-if="search_two"> Aşağıdan Seçilen İstek </p>
      <ui-icon style="margin-bottom: 4px" v-if="search_two">label</ui-icon>
      {{search_two}}
    </div>
    <br/>
    <br/>
    <br/>
    <div class="search-form">
      <h3 class="search-form-title">Eşleştirme Formu</h3>
      <form name="create-contract" @submit.prevent="create_contract">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" id="search_two">
              <ui-textbox
                floating-label
                label="Notlar"
                placeholder="eşleştirme için not ekleyin"

                v-model="comment"

              ></ui-textbox>

              <br/>
              <ui-radio-group
                error="Bu alanı doldurmanız gerekiyor!"
                name="group5"
                vertical
                :options="searches"

                :invalid="search_two===''"
                v-model="search_two"
              >Form Seçiniz</ui-radio-group>

            </div>

            <button type="submit" class="btn btn-outline-dark btn-block create-button">Oluştur</button>
          </div>
        </div>
        <br/>
        <br/>
        <br/>
      </form>
    </div>

  </div>
</template>

<script>
  import Api from '../api'
  export default {
    name: "CreateContract",
    data () {
      return {
        list_all: true,
        msg: false,
        available_searches: [],
        searches: [],
        search_one_class: '',
        search_one: '',
        search_two: '',
        comment: '',
        showAlert: false,
        job: null
      }
    },
    methods: {
      retrieve_search(){
        var params = this.$route.params;
        if(params['instance']){
          this.search_one = params['instance']
          this.search_one_class = params['class']
        }else {
          this.$router.go(-1)
        }
      },
      search_suggestion_list(){
        if(this.search_one_class==='job'){
          this.job = true
          Api.ListDriverSearch().then((response)=>{
            this.$Progress.finish();
            this.available_searches = response.data
            for(var i=0; i < this.available_searches.length; i++){
              this.searches.push(this.available_searches[i].representation)
            }
          }).catch(e => {
            this.$Progress.fail()
            // debug
            this.showAlert = true
            scroll(0,0)
          });
        }else if (this.search_one_class==='driver'){
          this.job = false
          Api.ListJobSearch().then((response)=>{
            this.$Progress.finish();
            this.available_searches = response.data
            for(var i=0; i < this.available_searches.length; i++){
              this.searches.push(this.available_searches[i].representation)
            }
          }).catch(e => {
            this.$Progress.fail()
            // debug
            this.showAlert = true
            scroll(0,0)
          });
        }
      },
      create_contract() {
        this.$Progress.start();
        if(this.search_one_class==='job'){
          this.search_two = this.search_two[0]
          this.search_one = this.search_one.id
        }else if (this.search_one_class==='driver'){
          var tmp = this.search_two[0]
          this.search_two = this.search_one.id
          this.search_one = tmp
        }
        Api.CreateContract({'job_search': this.search_one, 'driver_search': this.search_two, 'details': this.comment }).then((response)=>{
          this.$Progress.finish();
          this.$router.push({'name': "ListContract"})
        }).catch(e => {
          this.$Progress.fail()
          // debug
          this.showAlert = true
          scroll(0,0)
        });
      },
      // calculate_params(selector) {
      //   var tmp_query_params;
      //   tmp_query_params =
      //     {
      //       "date_from__lte": this.year_month_day(this.search.date_from),
      //       "date_to__gte": this.year_month_day(this.search.date_to),
      //       "location__contains": this.search.location,
      //       "price__lte": this.search.price + 10,
      //       "price__gte": this.search.price - 10,
      //       "creator_role__contains": this.find_matching_role(this.search.creator_role),
      //
      //     };
      //   for(var key in tmp_query_params){
      //     if(tmp_query_params[key]){
      //     }else{
      //       delete tmp_query_params[key]
      //     }
      //   }
      //   if (selector) {
      //     return tmp_query_params
      //   } else {
      //     tmp_query_params =
      //       {
      //         "creator_role__contains": this.find_matching_role(this.search.creator_role),
      //       };
      //     return tmp_query_params
      //   }
      // },
      // filter_unfilter_suggestions: function () {
      //   this.list_all = !this.list_all
      //   this.search_suggestion_list()
      // }
    },
    created: function () {
      this.$Progress.start();
      this.retrieve_search();
      this.search_suggestion_list();
    }
  }
</script>

<style scoped>
  .ui-radio {
  }
</style>
