<template>
  <div class="container">

  </div>
</template>
<script>
  import Api from '../api'

  export default {
    name: 'Demo',
    data: function () {
      return {

      }
    }
    ,
    methods: {
      list_search() {
        Api.UserList().then((response) =>  {
          this.data = response.data;
          this.$Progress.finish()
        }).catch(e => {
          this.$Progress.fail()
          // debug
        });
      }
    },
    created: function () {
      this.$Progress.start()
      this.list_search()
    }
  }
</script>
