<template>
  <div v-if="this.$route.name!=='Login'">
    <footer class="spec-footer">
      <div class="container">
        <p class="footer-title">
          © {{new Date().getFullYear()}}
          BTD Şoför Havuzu | taksilerle şoförleri buluşturan platform
          <!--<br/><a style="text-decoration: none; color: #ffc106" href="https://www.linkedin.com/in/mevlanaayas/" target="_blank">mevlana tarafından oluşturuldu</a>-->
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
  export default {
    name: 'Footer'
  }
</script>

<style scoped>

</style>
