<template>
  <div v-if="this.$route.name!=='Login'" class="header-cont">
    <nav class="navbar navbar-expand-lg navbar-light header-bg">
      <router-link class="navbar-brand header-title" to="/"><img class="header-img" src="../assets/havuz.png"/></router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item menu-link" v-if="$store.getters.isLoggedIn===true">
            <router-link class="nav-link" to="/list-job-search"> Taksi Arama Formları </router-link>
          </li>
          <li class="nav-item menu-link" v-if="$store.getters.isLoggedIn===true">
            <router-link class="nav-link" to="/list-driver-search"> Sürücü Arama Formları </router-link>
          </li>
          <li class="nav-item menu-link" v-if="$store.getters.isLoggedIn===true">
            <router-link class="nav-link" to="/list-contract"> Eşleştirmeler </router-link>
          </li>
        </ul>
        <div v-if="$store.getters.isLoggedIn===true">
          <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
              <router-link class="nav-link menu-link" to="/admin"> Admin Paneli </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link menu-link" to="/profile"> Profil: {{$store.getters.user}} </router-link>
            </li>
            <li class="nav-item menu-link"><button class="btn btn-dark" v-on:click="logout">Çıkış Yap</button></li>
          </ul>
        </div>
        <div v-else>
          <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item menu-link"><button class="btn btn-dark" v-on:click="logout">Giriş Sayfası</button></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
  import Api from '../api'
  export default {
    name: 'Header',
    data () {
      return {
        user: ''
      }
    },
    methods: {
      auth_user(){
        Api.UserAuth().then((response) =>  {
          this.user = response.data;
          this.$store.dispatch('Login', this.user.username)
        }).catch(error => {
          if(this.$store.getters.allowed_components.includes(this.$route.name)){
            console.log("allowed")
          }else{
            this.$router.push({'name': 'Main'})
          }
        });
      },
      logout(){
        Api.UserLogout('').then((response)=>{
          this.$router.push({'name': "Login"})
          this.$store.dispatch('Logout')
        });
      }
    },
    created: function () {
      this.auth_user()
    }
  }
</script>

<style scoped>

</style>
