<template>
  <div class="container">
    <ui-confirm
      confirm-button-icon="delete"
      confirm-button-text="Sil"
      deny-button-text="Vazgeç"
      autofocus="none"
      ref="jobConfirm"
      title="Onayınız Gerekiyor"

      @confirm="onConfirm"
      @deny="onDeny"
    >
      Silmek istediğinize emin misiniz?
    </ui-confirm>
    <div class="my-alert">
      <ui-alert @dismiss="showAlert = false" type="error" v-show="showAlert">
        Hata, Tekrar Deneyiniz.
      </ui-alert>
    </div>
    <div class="container my-container">
      <div class="filtering-ordering-container">
        <div class="row" style="margin-left: 10px">
          <div class="col-4">
            <div class="form-group" id="date-from-info">
              <ui-datepicker
                id="dateFrom"
                error="Bu alanı doldurmanız gerekiyor!"
                orientation="landscape"
                placeholder="Bir tarih seçiniz"

                :invalid="!date_from"
                :custom-formatter="$options.filters.format_date"
                v-model="date_from"

              >Güncellenme Tarihi Başlangıç</ui-datepicker>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group" id="date-to-info">
              <ui-datepicker
                id="dateTo"
                error="Bu alanı doldurmanız gerekiyor!"
                orientation="landscape"
                placeholder="Bir tarih seçiniz"

                :invalid="!date_to"
                :custom-formatter="$options.filters.format_date"
                v-model="date_to"

              >Güncellenme Tarihi Bitiş</ui-datepicker>
            </div>
          </div>
          <div class="col-4">
            <div class="row justify-content-center" style="margin-bottom: 1rem; margin-top: 1rem;">
              <div class="col-7">
                <ui-button class="menu-button" icon="filter_list" v-on:click="filter_func">Filtrele</ui-button>
              </div>
              <div class="col-5">
                <!--<label v-if="filter_menu">Gizle</label><label v-else>Göster</label>-->
                <ui-button class="menu-button" icon="expand_more" v-on:click="hide_unhide_filters">Aç</ui-button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-left: 10px" v-if="filter_menu">

          <div class="col-4">

          </div>
          <div class="col-4">
            <ui-textbox
              floating-label
              label="Arama"
              placeholder="arama yapın"

              v-model="search_term"
            ></ui-textbox>
          </div>
          <div class="col-4">
            <div class="row justify-content-center" style="margin-bottom: 1rem; margin-top: 1rem;">
              <div class="col-7">
                <ui-button class="menu-button" icon="search" v-on:click="search_func">Arama Yap</ui-button>
              </div>
              <div class="col-5">
              </div>
            </div>
          </div>
      </div>
    </div>
      <div class="list-container">
        <div class="single-order" v-for="order in searches">
          <div class="col-9">
            <ui-icon style="margin-bottom: 4px">label</ui-icon>
            {{order.representation.slice(2)}}
            <!--<div class="row">{{order.from_city['name']}} &ndash;&gt;> {{order.to_city['name']}}</div>-->
            <div class="row">
              <div class="col-9">
                <ui-icon style="margin-bottom: 4px">event</ui-icon>
                {{$options.filters.format_date(order.updated_at)}}
              </div>
            </div>
          </div>
          <div class="col-3 right-button">
            <router-link type="button" class="btn turquoise-button btn-primary btn-block" tag="button" :to="{'name' : 'CreateContract', params: { id: order.id, 'instance' : order, 'class': 'job' } }">
              Eşleştir
            </router-link>
            <hr style="border-color: #ffc106">
            <button @click="showConfirm('jobConfirm', order.id)" class="btn btn-dark btn-block">Formu Sil</button>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</template>

<script>
  import Api from '../api'
  export default {
    name: "ListJobSearch",
    data () {
      return {
        filter_menu: false,
        searches: [],
        // arama
        search_term: '',
        // sadece zaman bazlı bir filtreleme olacak
        query_params: [],
        date_from: new Date(),
        date_to: new Date(),
        // sadece zaman bazlı bir sıralama olacak
        date_from_order: '-date_from',
        date_to_order: '-date_to',
        created_at_order: '-created_at',
        showAlert: false,
        instance_id: null
      }
    },
    methods: {
      showConfirm(ref, id) {
        this.instance_id = id
        this.$Progress.start()
        this.$refs[ref].open();
      },
      onConfirm() {
        Api.DeleteJobSearch({id: this.instance_id}).then((response) => {
          this.$Progress.finish()
          this.list_search()
        }).catch(e => {
          this.$Progress.fail()
          this.showAlert = true
        })
      },
      onDeny() {
        this.$Progress.finish()
      },
      search_func: function () {
        this.$router.push({'name' : this.$router.name , query: { search : this.search_term }})
      },
      filter_func: function () {
        this.$router.push({'name' : this.$router.name , query: this.calculate_params()})
      },
      list_search() {
        var params = this.$route.query
        Api.ListJobSearch({params}).then((response) =>  {
          this.searches = response.data;
          this.$Progress.finish()
        }).catch(e => {
          this.$Progress.fail()
          this.showAlert = true
          scroll(0,0)
          // debug
        });
      },
      hide_unhide_filters: function() {
        this.filter_menu = !this.filter_menu
      },
      calculate_orders: function(value) {
        if(value.includes('date_from')){
          if(this.date_from_order.includes('-')){
            this.date_from_order = 'date_from'
          }else{
            this.date_from_order = '-date_from'
          }
        }else if(value.includes('date_to')){
          if(this.date_to_order.includes('-')){
            this.date_to_order = 'date_to'
          }else{
            this.date_to_order = '-date_to'
          }
        }else if(value.includes('created_at')){
          if(this.created_at_order.includes('-')){
            this.created_at_order = 'created_at'
          }else{
            this.created_at_order = '-created_at'
          }
        }
      },
      calculate_params() {
        var tmp_query_params;
        if(this.date_from.getTime() === this.date_to.getTime()) {
          tmp_query_params =
            {
              "updated_at": this.$options.filters.format_date_post(this.date_from)
            };
        } else {
          tmp_query_params =
            {
              "updated_at__gte": this.$options.filters.format_date_post(this.date_from),
              "updated_at__lte": this.$options.filters.format_date_post(this.date_to),
            };
        }
        return tmp_query_params
      },
      calculate_whole_params(value) {
        var search_tmp = { search : this.search_term }
        var result = {};
        for(var key in this.calculate_params()) result[key] = this.calculate_params()[key];
        for(var key in value) result[key] = value[key];
        for(var key in search_tmp) result[key] = search_tmp[key];
        return result
      }
    },
    created: function () {
      this.$Progress.start()
      this.list_search()
    },
    watch: {
      '$route': function (newRoute, oldRoute) {
        this.$Progress.start()
        this.list_search();
      }
    }

  }
</script>

<style scoped>
  .search-bar {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .filter-col{
    padding-left:10px;
    padding-right:10px;
  }
  .filter-table th{
    min-width: 117px;
  }
  .table-header a{
    color: black;
  }

</style>
