<template>
  <div class="container">
    <div class="my-alert">
      <ui-alert @dismiss="showAlert = false" type="error" v-show="showAlert">
        Hata, Tekrar Deneyiniz.
      </ui-alert>
    </div>
    <div class="container login-cont">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <img class="login-img" src="../assets/havuz.png"/>
          <br/>
          <h3 class="login-title"><span class="login-title-narrow">BTD</span> Şoför Havuzu</h3>
          <form name="login" @submit.prevent="login">
            <div class="form-group">
              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Kullanıcı Adı"
                placeholder="kullanıcı adı"

                :required="!username"
                v-model="username"

              ></ui-textbox>
            </div>
            <div class="form-group">
              <ui-textbox
                error="Bu alanı doldurmanız gerekiyor!"
                label="Parola"
                placeholder="**********"

                :required="!password"
                v-model="password"

                type="password"

              ></ui-textbox>
            </div>
            <div class="row">
              <div class="col-5">
                <button type="submit" class="btn  turquoise-button btn-primary btn-block">Giriş Yap</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Api from '../api';
  export default({
    data() {
      return {
        username: "",
        password: "",
        showAlert: false,
      }
    },
    methods: {
      login() {
        this.$Progress.start()
        Api.UserLogin({"username":this.username, "password":this.password}).then((response)=>{
          this.$Progress.finish()
          this.$store.dispatch('Login', this.username)
          this.$router.push({'name': "Admin"})
        }).catch(e => {
          this.$Progress.fail()
          this.showAlert = true
          scroll(0,0)
          //debug
        });
      }
    }
  });
</script>
<style scoped>

</style>
