<template>
  <div class="container login-cont">
    <div class="main-menu-label main-title">Ben bir,</div>
    <div class="row justify-content-center">
      <div class="main-menu-choice col">
        <router-link type="button" class="main-button btn btn-outline-dark btn-block" tag="button" to="/create-job-search">
          Taksi Sürücüsüyüm. Taksi Arıyorum.
        </router-link>
      </div>
      <div class="main-menu-choice col">
        <router-link type="button" class="main-button btn btn-outline-dark btn-block" tag="button" to="/create-driver-search">
          Taksi Sahibiyim. Sürücü Arıyorum.
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Main",
    data () {
      return {
        msg: null
      }
    }
 }
</script>

<style scoped>

</style>
