<template>
  <div class="container">
    <div class="my-alert">
      <ui-alert @dismiss="showAlert = false" type="error" v-show="showAlert">
        Hata, Tekrar Deneyiniz.
      </ui-alert>
    </div>
    <br/>
    <div class="search-details">
      <ul class="list-group">
        <li class="list-group-item">Kullanıcı Adı: {{job_search.fullname}}</li>
        <li class="list-group-item">Kart No: {{job_search.card_no}}</li>
        <li class="list-group-item">Kullanıcı Yaşı: {{job_search.age}}</li>
        <li class="list-group-item">Kan Grubu: {{job_search.blood_group}}</li>
        <li class="list-group-item">Çalıştığı Yer: {{job_search.current_employment}}</li>
        <li class="list-group-item">
          Evlilik Durumu:
          <ui-icon v-if="job_search.is_married" data-toggle="tooltip" data-placement="top" title="Evli">
            check_circle_outline
          </ui-icon>
          <ui-icon v-else data-toggle="tooltip" data-placement="top" title="Bekar">
            highlight_off
          </ui-icon>
        </li>
        <li class="list-group-item">
          Emeklilik Durumu:
          <ui-icon v-if="job_search.is_retired" data-toggle="tooltip" data-placement="top" title="Emekli">
            check_circle_outline
          </ui-icon>
          <ui-icon v-else data-toggle="tooltip" data-placement="top" title="Emekli Değil">
            highlight_off
          </ui-icon>
        </li>
        <li class="list-group-item">Çalıştığı Duraklar: {{job_search.past_taxi_stop_list}}</li>
        <li class="list-group-item">Tel No: {{job_search.primary_gsm}}</li>
        <li class="list-group-item">Tel No 2: {{job_search.secondary_gsm}}</li>
        <li class="list-group-item">Referanslar: {{job_search.reference}}</li>
        <li class="list-group-item">Kaç Senedir İstanbulda: {{job_search.year_in_istanbul}}</li>
        <li class="list-group-item">Kaç Senedir Sürücü: {{job_search.year_in_job}}</li>
        <li class="list-group-item">Oluşturulma Tarihi: {{$options.filters.format_datetime(job_search.created_at)}}</li>
        <li class="list-group-item">Güncellenme Tarihi: {{$options.filters.format_datetime(job_search.updated_at)}}</li>
        <li class="list-group-item">Değişim Yeri: {{job_search.exchange_location}}</li>
        <li class="list-group-item">Kota: {{job_search.quota}}</li>
      </ul>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</template>

<script>
  import Api from '../api'
  export default {
    name: "RetrieveJobSearch",
    data () {
      return {
        msg: false,
        job_search: null,
        showAlert: false,
      }
    },
    methods: {
      retrieve_search(){
        var params = this.$route.params;
        Api.RetrieveJobSearch({params}).then((response)=>{
          this.job_search = response.data;
          this.$Progress.finish();
        }).catch(e => {
          this.$Progress.fail()
          this.showAlert = true
          scroll(0,0)
          // debug
        });
      }
    },
    created: function () {
      this.$Progress.start();
      this.retrieve_search();
    }
  }
</script>

<style scoped>

</style>
