<template>
  <div class="container">
    <div class="my-alert">
      <ui-alert @dismiss="showAlert = false" type="error" v-show="showAlert">
        Hata, Tekrar Deneyiniz.
      </ui-alert>
    </div>
    <br/>
    <div class="search-details">
      <ul class="list-group">
        <li class="list-group-item" style="font-weight: bold">İşveren</li>
        <li class="list-group-item">{{contract.driver_search.representation.slice(2)}}</li>
        <li class="list-group-item">Telefon No: {{contract.driver_search.primary_gsm}}</li>
        <li class="list-group-item">Güncellenme Tarihi: {{$options.filters.format_date(contract.driver_search.updated_at)}}</li>
      </ul><br/>
      <ul class="list-group">
        <li class="list-group-item" style="font-weight: bold">Sürücü</li>
        <li class="list-group-item">{{contract.job_search.representation.slice(2)}}</li>
        <li class="list-group-item">Kart No: {{contract.job_search.card_no}}</li>
        <li class="list-group-item">Telefon No: {{contract.job_search.primary_gsm}}</li>
        <li class="list-group-item">Güncellenme Tarihi: {{$options.filters.format_date(contract.job_search.updated_at)}}</li>
      </ul><br/>
      <ul class="list-group">
        <li class="list-group-item" style="font-weight: bold">Detaylar</li>
        <li class="list-group-item">Yorumlar: {{contract.details}}</li>
        <li class="list-group-item">Puanlama: {{contract.rating}}</li>
      </ul>
    </div>
    <h3 class="search-form-title">Eşleştirmeyi Güncelle</h3>
    <form name="update_contract" @submit.prevent="update_contract">
      <div class="row">
        <div class="col-md-4">

          <label class="form-group-title" for="match-info">Eşleştirme Bilgileri</label>
          <hr/>
          <div class="form-group" id="match-info">
            <ui-textbox
              floating-label
              label="Yorumlar"
              placeholder="sürücü ya da işveren hakkındaki yorumlarınız"

              v-model="details"

            ></ui-textbox>

            <ui-select
              icon="colorize"
              label="Puanlama"
              placeholder="Puan Seçiniz"
              :options="rating_options"
              v-model="rating"
            ></ui-select>

          </div>
          <button type="submit" class="btn btn-outline-dark btn-block create-button">Güncelle</button>
          <hr style="border-color: #ffc106">
          <ui-confirm
            confirm-button-icon="delete"
            confirm-button-text="Sil"
            deny-button-text="Vazgeç"
            autofocus="none"
            ref="basicConfirm"
            title="Onayınız Gerekiyor"

            @confirm="onConfirm"
            @deny="onDeny"
          >
            Silmek istediğinize emin misiniz?
          </ui-confirm>
          <button @click="showConfirm('basicConfirm')" class="btn btn-dark btn-block create-button">Eşleştirmeyi Sil</button>
        </div>
      </div>
    </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</template>

<script>
  import Api from '../api'
  export default {
    name: "RetrieveContract",
    data () {
      return {
        // rating_options: [
        //   'Kötüydü',
        //   'Kötünün İyisi',
        //   'Orta',
        //   'İyiydi',
        //   'Süperdi'
        // ],
        rating_options: [
          1,
          2,
          3,
          4,
          5
        ],
        contract: [],
        msg: false,
        rating: '',
        details: '',
        showAlert: false,
      }
    },
    methods: {
      showConfirm(ref) {
        this.$Progress.start()
        this.$refs[ref].open();
      },
      onConfirm() {
        Api.DeleteContract({id: this.contract.id}).then((response) => {
          this.$Progress.finish()
          this.$router.push({'name': "ListContract"})
        }).catch(e => {
          this.$Progress.fail()
          this.showAlert = true
        })
      },
      onDeny() {
        this.$Progress.finish()
      },
      retrieve_contract(){
        var params = this.$route.params
        Api.RetrieveContract({params}).then((response)=>{
          this.contract = response.data
          this.details = this.contract.details
          this.rating = this.contract.rating
          this.$Progress.finish()
        }).catch(e => {
          this.$Progress.fail()
          this.showAlert = true
          scroll(0,0)
          // debug
        });
      },
      update_contract(){
        Api.UpdateContract(
          {
            'details': this.details,
            'rating': this.rating,
            'id': this.contract.id,
          }

          ).then((response)=>{
          this.$Progress.finish()
        }).catch(e => {
          this.$Progress.fail()
          // debug
        });
      }
    },
    mounted: function () {
      this.$Progress.start()
      this.retrieve_contract();
    }
  }
</script>

<style scoped>

</style>
