<template>
  <div class="container">
    <div class="my-alert">
      <ui-alert @dismiss="showAlert = false" type="error" v-show="showAlert">
        Hata, Tekrar Deneyiniz.
      </ui-alert>
    </div>
    <h4 class="profile-form-title">Profili Güncelle</h4>
    <form name="update_profile" @submit.prevent="update_user">
      <div class="row">
        <div class="col-md-4">

          <label class="form-group-title" for="user-info">Kullanıcı Bilgileri</label>
          <hr/>
          <div class="form-group" id="user-info">
            <ui-textbox
              floating-label
              label="Kullanıcı Adı"
              placeholder="kullanıcı adı giriniz"

              v-model="username"

            ></ui-textbox>
            <ui-textbox
              floating-label
              label="İsim"
              placeholder="isim giriniz"

              v-model="first_name"

            ></ui-textbox>
            <ui-textbox
              floating-label
              label="Soyisim"
              placeholder="soyisim giriniz"

              v-model="last_name"

            ></ui-textbox>
            <ui-textbox
              floating-label
              label="Email Adresi"
              placeholder="email@email.com"

              v-model="email"

            ></ui-textbox>
          </div>
          <button type="submit" class="btn btn-outline-dark btn-block create-button">Güncelle</button>
        </div>
      </div>
    </form>

    <h4 class="profile-form-title">Parola Güncelle</h4>
    <form name="update_password" @submit.prevent="update_password">
      <div class="row">
        <div class="col-md-4">

          <label class="form-group-title" for="parola-info">Parola Bilgileri</label>
          <hr/>
          <div class="form-group" id="parola-info">
            <ui-textbox
              floating-label
              error="Bu alanı doldurmanız gerekiyor!"
              label="Parola"
              placeholder="*************"

              :required="!password"
              v-model="password"

            ></ui-textbox>
            <ui-textbox
              floating-label
              error="Bu alanı doldurmanız gerekiyor!"
              label="Parola Tekrar"
              placeholder="*************"

              v-model="password_again"
              :required="!password_again"

            ></ui-textbox>
          </div>
          <button type="submit" class="btn btn-outline-dark btn-block create-button">Güncelle</button>
        </div>
      </div>
    </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</template>

<script>
  import Api from '../api'
  export default {
    name: "RetrieveUser",
    data () {
      return {
        user: null,
        msg: false,
        password: '',
        password_again: '',
        username: '',
        first_name: '',
        last_name: '',
        email: '',
        user_id: '',
        showAlert: false,
      }
    },
    methods: {
      retrieve_user(){
        Api.UserList().then((response)=>{
          this.user = response.data[0];
          this.username = this.user.username
          this.first_name = this.user.first_name
          this.last_name = this.user.last_name
          this.email = this.user.email
          this.user_id = this.user.id
          this.$Progress.finish()
        }).catch(e => {
          this.$Progress.fail()
          this.showAlert = true
          scroll(0,0)
          // debug
        });
      },
      update_password() {
        this.$Progress.start()
        Api.ChangePassword({'new_password1': this.password, 'new_password2': this.password_again}).then((response)=>{
          this.$Progress.finish()
        }).catch(e => {
          this.$Progress.fail()
          this.showAlert = true
          scroll(0,0)
          // debug
        });
      },
      update_user() {
        this.$Progress.start()
        Api.UpdateUser(
          {
            'email': this.email,
            'username': this.username,
            'first_name': this.first_name,
            'last_name': this.last_name,
            'id': this.user_id,
          }
          ).then((response)=>{
          this.$Progress.finish()
        }).catch(e => {
          this.$Progress.fail()
          this.showAlert = true
          scroll(0,0)
          // debug
        });
      }
    },
    created: function () {
      this.$Progress.start()
      this.retrieve_user();
    }
  }
</script>

<style scoped>
  .filter-icon {
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .suggestions-title {
    /*text-align: center;*/
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 3px;
    font-weight: bold;
  }
</style>
