<template>
  <div class="container">
    <div class="my-alert">
      <ui-alert @dismiss="showAlert = false" type="error" v-show="showAlert">
        Hata, Tekrar Deneyiniz.
      </ui-alert>
    </div>
    <br/>
    <div class="search-details">
      <ul class="list-group">
        <li class="list-group-item">Kullanıcı Adı: {{driver_search.fullname}}</li>
        <li class="list-group-item">Kullanıcı Yaşı: {{driver_search.age}}</li>
        <li class="list-group-item">Tel No: {{driver_search.primary_gsm}}</li>
        <li class="list-group-item">Tel No 2: {{driver_search.secondary_gsm}}</li>
        <li class="list-group-item">Oluşturulma Tarihi: {{$options.filters.format_datetime(driver_search.created_at)}}</li>
        <li class="list-group-item">Güncellenme Tarihi: {{$options.filters.format_datetime(driver_search.updated_at)}}</li>
        <li class="list-group-item">Değişim Yeri: {{driver_search.exchange_location}}</li>
        <li class="list-group-item">Kota: {{driver_search.quota}}</li>
      </ul>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</template>

<script>
  import Api from '../api'
  export default {
    name: "RetrieveDriverSearch",
    data () {
      return {
        msg: false,
        driver_search: null,
        showAlert: false,
      }
    },
    methods: {
      retrieve_search(){
        var params = this.$route.params;
        Api.RetrieveDriverSearch({params}).then((response)=>{
          this.driver_search = response.data;
          this.$Progress.finish();
        }).catch(e => {
          this.$Progress.fail()
          this.showAlert = true
          scroll(0,0)
          // debug
        });
      },
    },
    created: function () {
      this.$Progress.start();
      this.retrieve_search();
    }
  }
</script>

<style scoped>

</style>
