<template>
  <div id="app">
    <header-component></header-component>
    <router-view/>
    <footer-component></footer-component>
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>
  import Header from '@/components/Header'
  import Footer from '@/components/Footer'
  export default {
    name: 'App',
    components: {
      'header-component': Header,
      'footer-component': Footer
    }
  }
</script>

<style>
  .menu-button {
    border: solid 2px #ffc106 !important;
  }
  .profile-form-title {
    /*text-align: center;*/
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .menu-link{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .my-alert{
    padding-top: 20px;
  }
  .main-title {
    margin-bottom: 20px;
  }
  .main-button {
    margin-bottom: 20px !important;
    border-width: 2px !important;
    border-radius: 10px !important;
  }
  .ui-menu {
    max-width: none !important;
  }
  .admin-cont{
    padding-top: 10px;
    margin-top: 4%;
  }
  .login-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 119px;
    width: 130px
  }

  .header-img {
    height: 83px;
    width: 90px;
  }
  .spec-footer {
    width: 100%;
    color: #ffc106;
    background: #000;
    position: fixed;
    bottom: 0;
  }

  .footer-title {
    padding-bottom: 12px;
    padding-top: 24px;
    text-align: center;

  }
  .header-bg {
    background-color: #ffc106;
  }
  .header-title {
    /*text-align: center;*/
    letter-spacing: 3px;
    font-weight: bold;
  }
  .header-cont {
    width: 100%;
  }
  .header-cont a {
    color: white !important;
  }
  .filter-icon {
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .suggestions-title {
    /*text-align: center;*/
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  /*.search-container {*/
  /*padding-top: 20px;*/
  /*}*/
  .search-form-title {
    /*text-align: center;*/
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 4px;
  }
  .mx-datepicker{
    width: 300px;
    height: 38px;
    margin-bottom: 10px;
  }
  .form-group-title {
    font-size: 1.15em;
    margin-top: 25px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
  }
  input, #inputRole, #inputQuota, textarea {
    margin-bottom: 10px;
  }
  .create-button {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  /*.search-container {*/
  /*padding-top: 20px;*/
  /*}*/
  .search-form-title {
    /*text-align: center;*/
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 4px;
  }
  .mx-datepicker{
    width: 300px;
    height: 38px;
    margin-bottom: 10px;
  }
  .form-group-title {
    font-size: 1.15em;
    margin-top: 25px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
  }
  input, #inputRole, #inputQuota, textarea {
    margin-bottom: 10px;
  }
  .create-button {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .router-link-style {
    color: black !important;
  }
  .login-cont {
    padding-top: 20px;
    margin-top: 8%;
  }
  .yellow-button {
    background-color: #fcc106 !important;
  }
  .login-title {
    /*text-align: center;*/
    padding-bottom: 20px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .login-title-narrow {
    padding-bottom: 20px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  #app {
    font-family: 'Ubuntu', sans-serif;
  }
  .table td, tr {
    text-align: center;
  }
  .menu-link-title {
    /*text-align: center;*/
    padding-bottom: 20px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .menu-link-title a {
    text-decoration: none !important;
  }
  .turquoise-button {
    background-color: #fcc106 !important;
    border-color: black !important;
  }
  .form-title {
    /*text-align: center;*/
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .login-title {
    /*text-align: center;*/
    padding-bottom: 20px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .router-link-style a{
    color: black;
    text-decoration: none;
  }

  .form-container {
    background-color: #edeff2;
    margin-top: 15px;
    padding-bottom: 15px;
  }

  .form-inside {
    position: relative;
    margin: 0 15px 15px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    background-color: #fff;
    padding: 15px;
  }

  /*styles for order list styling*/

  .my-container {
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 75px;
    width: 90%;
  }
  .filtering-ordering-container {
    background-color: white;
    text-align: center;
  }

  .list-container {
    background-color: #edeff2;
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
  }

  .single-order {
    cursor: pointer;
    position: relative;
    margin: 0 15px 15px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    background-color: #fff;
    padding: 15px;
    display: flex;
    box-sizing: border-box;
  }
  .single-order:hover {
    border-color: #2C2E3E;
  }
  .right-button {
  }
  @media only screen and (max-width: 600px) {
    /*.single-order div {*/
    /*background-color: pink;*/
    /*}*/
    .my-container {
      width: 100%;
    }
    .single-order button {
      width: auto;
    }
  }

  /*login register styling*/
  .login-register-bg {
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    background-color: #fff;
    padding: 20px 40px 40px;
  }

  @media only screen and (max-width: 985px) and (min-width: 767px) {
    .login-register-bg {
      border: 1px solid #e2e2e2;
      border-radius: 3px;
      background-color: #fff;
      padding: 40px 20px;
    }
  }

</style>
